<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PingPop.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8A6BE70A1D1A40E8008E037A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8A6BE71E1D1A40E8008E037A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8A6BE7291D1A40E8008E037A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
